[2013-08-22 14:43] ramanaveli2i opened #4 "Is it possible to give the Condition and Consequence with single quotes(json from couchdb)"
Hi,

Am passing the rules from the db as json string. Is it possible to give the Condition and consequence with single quotes(json from couchdb), or suggest me some ideas to pass the Condition and Consequence without single quotes in node-js.

Thanks in Advance,
Ramanavel

[2013-08-23 06:11] #4 closed, assigned to nobody

[2013-08-25 04:48] faridnsh opened #7 "Release new version"
we need the last commits on the npm pacakge.

[2013-08-25 13:03] #7 closed, assigned to mithunsatheesh

[2014-05-08 07:45] gdude2002 opened #8 "Fact availability in consequence"
Is it possible to have the matched fact available in the consequence? We're attempting to use this rules engine to match arbitrary data from a database and then to - for example - send an email on match. We'd need the fact itself to be available for that, though.

So, is it possible to get at the fact from within the consequence function?

EDIT: Also, I've noticed that calling `cb()` within a cons

[2014-05-12 09:39] #8 closed, assigned to mithunsatheesh

[2014-05-19 10:43] gdude2002 opened #12 "Creation of rules engine returns `undefined`"
Seems to be missing `return this` here: https://github.com/mithunsatheesh/node-rules/blob/master/lib/node-rules.js#L16

[2014-05-19 10:49] #12 closed, assigned to nobody

[2014-05-19 11:34] gdude2002 opened #13 "Large self-reference chain"
Alright, so after adding the fix for #12 to my own node_modules directory, I tried again.

It seems that the returned object doesn't have `execute` as specified by the docs. Not only this, but on outputting the returned object, I get a /huge/ object which looks like it contains the object we created it in.
#

Let's say, for example, we created an array of rules.

[code]

We pass this into the Rule

[2014-05-19 11:42] #13 closed, assigned to nobody

[2015-01-08 12:05] mithunsatheesh opened #15 "Implement function Rules.sync as part of Engine"
Separate the rule set up logic which is currently inside `RuleEngine` constructor to a new function called `sync`. This will help when we add functionality to add rules later and resync them with priority and status.

Also once this is done, sync will be internally called by all functions which make changes to the rule engine. Like adding rules, editing or deleting.

[2015-01-08 12:10] mithunsatheesh opened #16 "Implement function Rules.register as part of Engine"
Currently we pass the rules to apply via the constructor call. This wont be useful when we need to perform add/update/delete on a running rule engine. So we need to separate this as a new function named add. It will accept both array of rules as well as a single rule and input.

[2015-01-08 12:16] mithunsatheesh opened #17 "Implement Rules.toJSON() and Rules.fromJSON() functions"
Currently the rule engine supports stringified rules. But the logic is embedded in the core engine logic. We don't want this. The engine should support serialise() and unserialise() functions so that the rules can be stored on to an external storage and loaded back on. Once this is implemented, we can remove the `evals` from the core engine code.

[2015-01-08 12:27] mithunsatheesh opened #18 "Turning Rules On and Off in runtime."
Currently there is no way that we can turn off or turn on rules after the rule engine is initialized. The On and Off function will allow the user to turn off and turn on a rule dynamically by providing a rule id field which should be used to uniquely identify a rule.

Note: Right now rule id is not a mandatory field. We may need to enforce that field to get this feature working.

[2015-01-08 12:33] mithunsatheesh opened #19 "Implement function Rules.prioritize as part of Engine"
Exposed function to prioritize/re-prioritize a rule by id. Much like rule ON/OFF features. Please note that all these functions should call Rules.sync internally once making the needed changes.

Should be done after #15

[2015-01-08 12:37] mithunsatheesh opened #20 "Extra abstraction to be added on conditions and consequence functions"
Currently the conditions and consequences are not much user friendly. The functions are exposing callback to be called in next and also validations on whether the fact exists. Can this be abstracted away to make them look simple.

[2015-01-08 12:41] mithunsatheesh opened #21 "Using internally defined functions inside the conditions and consequence"
what about using internally defined functions in conditions and consequence for flow control?

Like user can call fail(); to fail the execution completely. Or do a skip to(rule-id) to skip rest. Or even do a restart() to start over. These functions can reside inside the Engine scope and users can use them while defining rules.

[2015-01-08 12:45] mithunsatheesh opened #22 "Removing support for Array of consequence for a condition."
Currently Rule engine supports defining multiple consequences in the form of arrays for a single condition. This was added as per a previous issue raised. We don't find any  strong reasons why we should keep a support for consequence arrays as the user can embed his logic inside a single consequence function.

Please share your thoughts.

[2015-01-12 06:56] mithunsatheesh commented on #17
Perhaps a good approach here.
http://www.kristofdegrave.be/2012/07/json-serialize-and-deserialize.html

[2015-01-13 04:58] mithunsatheesh opened #24 "Difference in the implementation of condition and consequence"
If you see the implementation of both condition and consequence inside the engine, you can see that it is implemented in different ways. Consequence has the fact available in `this` context where in the condition has the fact injected into it via arguments.

We can keep both in same terms to keep the code more readable. Fact in context will be available in `this` at both condition and consequence.

[2015-01-16 22:32] #15 closed

[2015-01-16 22:32] #16 closed

[2015-01-16 22:32] #17 closed

[2015-01-16 22:32] #18 closed

[2015-01-16 22:32] #19 closed

[2015-01-16 22:32] #20 closed

[2015-01-16 22:32] #21 closed

[2015-01-16 22:32] #22 closed

[2015-01-16 22:32] #24 closed

[2015-04-14 14:59] lmayorga1980 opened #32 "npm ERR! tar.unpack untar error on Windows"
**NodeJs** : 0.12.2
**Npm** : 2.7.4

[code]

[2015-04-14 15:03] munimkazia commented on #32
As the error log says, it is trying to untar an archive but a directory already exists. Remove `C:\Users\lmo0\AppData\Roaming\npm\node_modules\node-rules` and try.

[2015-04-14 15:03] #32 closed

[2015-04-14 15:19] lmayorga1980 commented on #32
I believe the package.tgz comes with an "/" file inside of it which make it fail.

![screen shot 2015-04-14 at 10 15 10 am](https://cloud.githubusercontent.com/assets/3172378/7140199/a74896c6-e28f-11e4-9f2e-9bd39c0edb8b.png)

[2015-04-14 15:24] pmclean1964 commented on #32
I have the same problem. Removing the directory does nothing. Clearing NPM cache didn't work either.

[2015-04-14 15:28] munimkazia commented on #32
This looks like an issue with NPM rather than this module. Try clearing the cache, and updating to the latest version of npm.

[2015-04-14 15:39] pmclean1964 commented on #32
Perhaps. I've cleared the cache, updated to NPM v2.7.4 and Node 12.2. Node-Rules directory is never created... directory is created in npm-cache but the install fails prior to creation of the directory... I'll look into similar issues on the web.

[2015-04-14 15:39] pmclean1964 commented on #32
sorry the Node version is 0.12.2

[2015-04-14 15:46] lmayorga1980 commented on #32
Well,

I believe when you install the module directly from the github URL then everything works fine.

@pmclean1964 try the github URL and check if that works.

[code]

[2015-04-14 17:33] pmclean1964 commented on #32
That worked! No issues!

[2015-04-21 09:55] malys opened #33 "Install failed for the release 3.0.2 on Windows"
Hi,
Your module is very interesting and I would try to use it.

But,I will try to install the last release and

[code]

I have to downgrade and use the release 3.0.1.

[2015-04-21 11:13] mithunsatheesh commented on #33
Hi @malys ,

Need to find a Windows machine to replicate. !
Please wait as we will get back to you in some time.

Regards,
Mithun Satheesh

[2015-04-21 11:26] malys commented on #33
For testing, https://www.modern.ie/en-us

[2015-05-06 07:02] ggasser opened #34 "Rules run twice"
Hi,

First of all, great module.
I found that the rules are being applied twice, generating duplication in same cases.

Version: 3.0.2

[code]

It should print

[code]

but instead is printing:

[code]

Cheers.

[2015-05-06 15:00] mithunsatheesh commented on #34
Hi @ggasser ,

If you are looking for quick fix for this scenario, it could be fixed by switching the `R.next()` call by `R.stop()` call, as we should stop processing as this was the last rule.

The reason for the rule getting executed again on the fact seems that as we have altered the fact, rule engine has a restart process to check if the fact could have been matched by earlier rules with the n

[2015-05-06 21:50] frauss opened #35 "Modify fact in consequences"
Thanks for the much needed module.

I'm wondering if it's possible to modify the fact object inside of the consequences function?

If so, how do would you get at the modified fact in the execute callback?

Here's a sample rule where I want to modify a field on the fact based on the test:

	{
		name: "Source Test",
		condition: function(R) {
			R.when(this.Title === "STF" && this.Credit === "Noble

[2015-05-06 23:39] ggasser commented on #34
Hi Mithun, thanks for the answer.

We can't use the R.stop() method since we have more than 1 rule that have to be applied at once. The previews code was just a test case to show the bug.

Thanks,

[2015-05-07 04:04] mithunsatheesh commented on #35
In the execute callback, the first paramter points to the fact only.

    R.execute(fact,function(result){
        if(result.result)
            console.log(result);// is fact with a result attribute attached to it
        else
            console.log(result);
    });

[2015-05-07 11:10] #35 closed

[2015-05-07 11:10] mithunsatheesh commented on #35
Please comment back or reopen this issue if you have further questions!

[2015-06-05 18:43] frauss opened #36 "Use external module in consequence"
I'm wondering if there's any way to use an external module inside of a consequence function?

I was hoping to be able to do something like the following:

[code]

However, that seems to trigger a recursive loop with this error:

(node) warning: Recursive process.nextTick detected. This will break in the next version of node. Please use setImmediate for recursive deferral.

I imagine this is becaus

[2015-06-06 14:47] mithunsatheesh commented on #36
Hi Fred,

I think there is no need to put the require statement inside the consequence function. It could be put outside.

    var guid_generator = require('uuid');

Let me know if the issue is repeating even after doing that change.

Regards,
Mithun Satheesh

[2015-06-08 03:42] mithunsatheesh commented on #36
Hi Fred,

Please reopen this issue incase you face further problems after following my previous comment. Right now I am closing this as I think moving the require out of the consequence will fix it.

This will certainly not fix the issue if we are considering the export/import abilty of the rules. I have mentioned the same case in the wiki prepared.
Refer: https://github.com/mithunsatheesh/node-ru

[2015-06-08 03:42] #36 closed

[2015-06-08 15:21] frauss commented on #36
Hi Mithun,

Unfortunately it is the export/import case I'm trying to deal with. I'm
storing rules in a Mongo Db instance.

Looks like I may be out of luck here.

Fred

On Sun, Jun 7, 2015 at 11:42 PM, Mithun Satheesh <notifications@github.com>
wrote:

[2015-06-09 03:22] mithunsatheesh opened #37 "Fix for storing and retriving the rules from an external storage."
Right now, rules which contain consequence and condtions with closures, are not properly exportable.
Reference issue : https://github.com/mithunsatheesh/node-rules/issues/36
Wiki : https://github.com/mithunsatheesh/node-rules/wiki/Exporting-and-Importing-Rules

Need a workaround for this.

[2015-06-09 03:22] mithunsatheesh commented on #36
Hi Fred,

With the current format used for the rules, its impossible to find a proper way to serialize as the rules are js objects with functions as property values. When you serialize, you will loose the closure relationships for conditions and consequnces - which is your exact case. I have opened another issue to track this.

[2015-06-09 18:04] frauss commented on #36
Mithun,

Thanks for the reply. I wound up finding a work around for this by
attaching the module references to the input object in a known field.

First, I establish my 'fact' object as a field on the input object:

var inputObject = {};
inputObject.fact = request.body;

Then given an array of module names like this:

var requiredModules = [{
fieldName: "guidGenerator",
moduleName: 'uuid'
},
{
fie

[2015-06-10 07:42] mithunsatheesh commented on #36
Great! Looks like a good workaround at first look. Injecting the dependent modules via the facts will do the trick.

It would be great if you could document this workaround in the wiki:
https://github.com/mithunsatheesh/node-rules/wiki/Exporting-and-Importing-Rules

[2015-06-15 14:32] frauss commented on #36
Not sure if I documented in properly but I did add the workaround to the
wiki page.

Feel free to edit it as you see fit.

Fred

On Wed, Jun 10, 2015 at 3:42 AM, Mithun Satheesh <notifications@github.com>
wrote:

[2015-06-16 04:01] mithunsatheesh commented on #36
Great! Thank you :+1:

[2015-06-18 16:13] delaneyj commented on #33
I can confirm this for Windoes 8.1.  From a fresh directory with just an `npm init, npm install --save node-rules`

[2015-06-18 20:27] jcorry commented on #34
I'm having a similar issue and could use some help.

I want to make changes to an element in the fact object as sequential rules execute and evaluate to true, such that at the end of execution I have a final object.

[2015-07-01 21:40] aarosil commented on #34
+1 I am having the same issue.  In fact rules keeps running infinitely.  I am trying to build up a string result based on several different rules and concatenating to a if a condition is met.

[2015-07-01 21:55] aarosil commented on #34
@mithunsatheesh what you think of `execute` taking `options` param where we can set `ignoreFactChange= true` (and add check for that one line 72)?  I made this change locally and it seems to work well.

[2015-07-02 03:07] mithunsatheesh commented on #34
Hi Aaron,

The reason for this issue is when rules continue appending results on to a key in the fact object. So every time the rule engine will see that fact has changed and it needs to run the existing rules one more time over them. The fix wont be completely setting ignoreFactChange = true, But we could add a result key or user can mention a key on which the changes wont be considered by rule e

[2015-07-04 08:04] aarosil commented on #34
Hi @mithunsatheesh , I'm a bit confused about auto restart on fact change.  Since you have `restart()` in API, and presumably you'd know fact has changed in the consequence by your own code, you can restart yourself.  Or, is this more for fact changing from outside code during rule processing?

I am working on some fix and I would submit it.  Also, I would like to use promises in API so that we ca

[2015-07-04 08:11] mithunsatheesh commented on #34
Idea was to validate the fact with the already applied rules, to check if any of them matches now as the fact has changed. We can think of removing it in a later version if the user manually enforcing a restart from consequence seems a better way.

[2015-07-23 16:24] escape-llc opened #39 "rule signature and execute improvements"
First off this is very simple to get going, thanks!

But....

The very first thing i wanted to do is add more properties to rules, that are used from within the rule's functions, e.g. a threshold value for comparing to the fact's properties.  Another good thing to access is the rule's name, because what good is it if we don't know which rule(s) actually accepted the fact?

There appears to be no i

[2015-07-23 17:28] escape-llc commented on #39
Got all of those ideas implemented, it was very easy!

[2015-07-23 18:35] mithunsatheesh commented on #39
@escape-llc great to hear that. :+1:

[2015-07-24 15:00] escape-llc commented on #39
is there a way to get it back into the base?  if not, i suppose i can just fork it, and we can close this item.

also i commented out the adding "result" property to the fact object, in general you should be treating those as immutable; i already have a result property, you just clobbered it!

with that in place, having a parameter to the "complete" callback is unnecessary; you are not passing me

[2015-07-25 10:31] mithunsatheesh commented on #39
If you can fork and raise a pull request it will be awesome. Else, I will take some time to look into this as I am occupied with some other dev work. Sorry for this.

And thank you for your views and contributions.

Regards,
Mithun Satheesh

[2015-08-26 21:44] whitef0x0 opened #40 "Logic AND/OR between Rules"
Is it possible to add AND/OR the this.result results between rules for a given fact?

Right now I'm doing this myself but its a bit messy using nested if statements in each Rule's "consequence" function

[2015-09-25 16:12] frauss opened #41 "Catching exceptions in consequence/conditions"
Is there a way to catch errors when the consequence/condition functions are called. I've modified the execute() method where it calls these functions as follows:

[code]

I've also modified the callback signature to take an error parameter but I'm not sure it is as simple as it seems?

[2015-09-25 17:28] mithunsatheesh commented on #41
I dont think this is a valid issue. You have the condition and consequence functions to put try catches if there is buggy code being introduce. We should not be introducing it into the rule engine.

[2015-09-30 19:21] frauss commented on #41
My primary motivation is to be able to report back to the caller any errors that have occurred inside condition/consequence functions.

We have created a simple user interface for creating rules that allows the user to create simple rule cases and in the case of more elaborate ones simply enter the function body for the condition or consequence. My concern is there could be issues with the entered

[2015-12-08 16:04] jaulz commented on #40
This would be interesting to know :+1:
@whitef0x0 how do you implement the AND and OR currently?

[2015-12-11 20:35] whitef0x0 commented on #40
@mithunsatheesh

[2015-12-12 15:06] mithunsatheesh commented on #40
Hey @whitef0x0 ,

If you can detail more about how you implemented the AND/OR combinations, it would help if we can incorporate it in the rule engine in further versions. Right now it looks to me like the conditions and consequences are flexible enough to implement any logic required.

[2015-12-18 10:45] hestef00 opened #42 "Register function"
There is an error in the "register" function: the condition of "if" (if (rules instanceof Array)) does not work so you must change it to "if (Array.isArray(rules))".

Hence, now, the register function looks like:

[code]

[2016-01-28 08:10] zl79860273 commented on #32
I also met the same problem,Don't know how to solve???  help

[2016-02-14 13:06] moshewe commented on #41
Why not put the error in the result object?

[2016-02-15 17:19] moshewe opened #44 "Store functions as objects containing string representation and function object"
The mixing of function definitions in the JSON specification of rules and such is a real pain, also for debugging. I can imagine a "debug" running mode where the functions are eval-ed from their string representations every time so yield meaningful errors and such.

I'm just starting to work with this great library, and that just made me cringe... Is this a change you are willing to consider?

[2016-02-25 11:42] moshewe opened #45 "auto-next?"
Why not have rules call `next` automatically when the condition function is done...? Saves boilerplate IMO.

[2016-05-22 16:13] damianofusco opened #48 "Breaks when using ES6 - "this" is no longe referencing the fact within condition or consequence"
Breaks when using ES6 - "this" is no longe referencing the fact within condition or consequence:

// this breaks and this is an empty object in my case
condition: (R) => {
    console.log('this', this); // prints {}
}

// this of course works and this contains my fact
condition: function(R)  {
    console.log('this', this); // prints the fact
}

[2016-06-08 10:47] bharanidharan-k opened #50 "Rules Editor"
While the node-rules module solves the runtime problem of executing rule, how about having simple minimalist UI to author business rules? I understand its a big move, but collaboratively we can achieve.

something like,
1. UI to author business rules based on vocabulary,
2. decistion table to author symmetric rules,
3. decision tree to author  asymmetric rules...

[2016-06-14 14:18] mathcoll commented on #50
I just have began some UI implementation ; not yet mergeable.
Using this library: jQuery-QueryBuilder https://github.com/mistic100/jQuery-QueryBuilder

[2016-06-15 05:55] bharanidharan-k commented on #50
I'm ready to contribute. You can share the branch details so we can work together

[2016-07-15 15:18] funkyremi opened #51 "How to use node-rules with questions?"
Hello,
I would like to develop an akinator/20q like application. I have some objects with caracteristics. After some auto selected questions (yes/no/don't know), the application will choose the best object according to user answers.
Is node-rules a good solution to do that? Should I use a decision tree library instead? I to s there a way to cover all possible questions?
Thank you :-)

[2016-07-29 00:50] bjrmatos opened #52 "consider use node's vm module instead of eval when using fromJSON"
no need to add details for why `eval` is evil so i think a better solution and more safety is to use the [`vm`](https://nodejs.org/api/vm.html) module.

example implementation (it works):

[code]

[2016-09-17 06:30] tahaziadeh commented on #50
@mathcoll , @bharanidharan-k  any progress in your direction ?

[2016-09-26 13:06] VenkateshSrini opened #53 "Equality condition does not work in Rules engine"
I changed the rule in the samepleRule.js such that it is now using the "===" in rules. After that the rules is not getting evaluated properly. The changed file is attached here with. Could any of you help with the same.

**PS**
The same below code is also attached as text file for easy execution and clarity

[simpleRule - Copy.txt](https://github.com/mithunsatheesh/node-rules/files/493136/simpleRu

[2016-10-20 04:50] SameerSiddiqui opened #55 "Question: Fact should always be a a simple Object or it can be an array as well ?"
I am trying to use this module in my app.

Quick  question- can i pass a complex object like  below and apply rules on property like "f" in the below object which is an array of objects. How will this be handled inside When keyWord ?

[code]

[2016-11-11 13:04] mattbishop commented on #48
+1

[2016-12-13 18:40] xaricx commented on #48
+1

[2016-12-19 11:55] mathcoll commented on #50
Unfortunately I'm still blocked integrating jQuery-QueryBuilder with node-rule; mostly because of:
1. `consequence` and `condition` in node-rule are using "function(){}" in format which is not easy to handle
2. jQuery-QueryBuilder output format is using SQL syntax (or Mango), but node-rule is using javascript syntax

I was busy on other topic, but I plan to work again and maybe to find a solution

[2017-01-06 08:09] phzietsman opened #56 "Question: Running facts in batches"
Firstly thanks a lot for this library! Working with this has been a pleasure!

I wrapped your library in a REST API.  I then sent it batches of anything from 100 to a 1000 records / facts to evaluate.  The API call must only resolve once all the facts have been evaluated.   I achieved it using Q like below.

[code]

Is there a builtin way to achieve the same result, or must I stick with this?

[2017-02-03 00:08] neoadventist commented on #53
@VenkateshSrini Hey man, maybe because you're setting it to only act when `this.transactionTotal == 500`. Did you want `this.transactionTotal < 500`?

[2017-02-03 01:46] VenkateshSrini commented on #53
No, the inputs are correct. It is just === does not seem to work

[2017-02-21 10:14] jackiekhuu-work opened #57 "Can I run many RuleEngine with different rules at the same time?"
Please help, Let says:
- I have many facts.
- With every fact, I would like to run a rule engine with a different set of rules.
- the rule engine for every fact could be run at the same time.
--> Can I do that with node-rules (many instances of ruleEngine at a same time)?

[2017-02-21 13:03] mithunsatheesh commented on #57
Answering the question title, instantiate multiple instances and register different set of rules. That would solve the problem you are mentioning.

[2017-02-21 13:03] #57 closed

[2017-03-27 22:19] mkarvir opened #58 "Is the code scanned with a static analysis tool like eslint?"

[2017-03-29 13:12] daxiang28 commented on #48
For some reason, the NPM version isn't in sync with the master branch here. The fix from @jaymaycry works. Just install it like so: `npm install git://github.com/mithunsatheesh/node-rules.git#master --save`

[2017-04-03 11:43] bassdeveloper commented on #44
@moshewe , I have written a function for reading and storing these rules. I wish to integrate the functions. Any idea how I can proceed?

[2017-04-04 18:29] nickvargas82 opened #59 "Question: Is it possible to use undescore.js in evaluating conditions for array of objects?"
I'm writing rules to evaluate array of objects and wanted to use underscore to simplify my rules. I wanted to be able to use _.any or _.every underscore functions. Thanks.

[2017-04-04 18:38] nickvargas82 commented on #59
Actually sorry I'm answering my own question. I just tested and was able to use underscore.js for evaluating rule conditions.

[2017-04-04 18:38] #59 closed

[2017-06-11 20:09] Cheyenne55 opened #60 "Unregister rule"
Hi there,

Nice work guys.
Was wondering why is there no method to unregister a rule.
Should not be a simple loop through the rules array ?

Regards

[2017-07-04 08:07] tuananh opened #61 "Error when exporting rules using toJSON()"
[code]

The code: I just copied the example.

[code]

[2017-07-10 09:56] mmcgarr commented on #48
Has this been updated on npm yet? I still can't seem to use arrow functions with the latest release (3.1.0).

[2017-08-17 14:09] Deamoner commented on #61
Bump getting this as well.

[2017-09-30 09:01] muhammadfaizan commented on #33
is this fixed?

[2017-11-08 07:02] nrjmr432 opened #62 "Creating dynamic rule object with nested rules"
In my case i have an interface where various entities can set rules , hence there is no static set of rules which can be written on my codebase. i have to create them dynamically.But i have problems in creating nested rule objects where i have to validate if else tree scenarious with consequences for every test cases

[2017-11-28 15:03] muhammadfaizan opened #63 "Can't find fact values within rule. but i find values within response"
I can't use my facts values wihtin my rules. can you help me with it?
[code]

[2018-01-11 01:52] flgarrid commented on #61
The toJSON function directly modifies the "RuleEngine.rules" object to create the string, thus modifying all RuleEngine rules when its done (all functions become strings).

To solve that, you have to call R.fromJSON(store) after R.toJSON():

[code]

[2018-05-11 19:01] mithunsatheesh commented on #33
Can find this functional on the windows OS. checked on Windows 7. Please add the exact platform details if able to reproduce now as well.

[2018-05-11 19:01] #33 closed

[2018-05-11 19:05] mithunsatheesh commented on #51
Whether akinator/20q like application can be built out of a rule engine is a generic question and not related to the functionality of this rule engine. Resolving as irrelevant issue.

[2018-05-11 19:05] #51 closed

[2018-05-12 06:14] muhammadfaizan commented on #33
@mithunsatheesh  was trying it on Windows 10

[2018-05-14 02:53] mithunsatheesh commented on #33
There is a latest release out - 4.0.0 can you try to reproduce this now please?

[2018-05-14 07:16] muhammadfaizan commented on #33
@mithunsatheesh  I will try to, for sure. Give me a little time.

[2018-05-14 13:31] #34 closed

[2018-05-15 12:16] mendaXXXX commented on #63
muhammadfaizan@ Can you post a completely functional code block with the exact description of the issue? Right now this issue doesn't have a code which is runnable on node.js directly it has custom methods which are not defined. Please share an independent functional code with the problem description, if you need this to be looked into.

[2018-05-15 12:16] #63 closed

[2018-05-15 12:28] mendaXXXX commented on #48
Its not possible since we cannot rebind an arrow function. Let us know if you have any alternate thoughts on improving the syntax.

From the Spec:

http://www.ecma-international.org/ecma-262/6.0/#sec-arrow-function-definitions-runtime-semantics-evaluation

[2018-05-15 12:28] #48 closed

[2018-05-15 12:31] mendaXXXX commented on #58
If this question is raised regarding the code of this repo, you can find the linting configurations in the root of the repository. If the concern is related to the `conditions` and `consequences`, it makes sense to lint them in the project where the code lies than by this library.

[2018-05-15 12:31] #58 closed

[2018-05-15 12:34] mendaXXXX commented on #56
This is not supported in the current version - 4.0.0.

[2018-05-15 14:14] mendaXXXX commented on #40
Closing since there is no response.

[2018-05-15 14:14] #40 closed

[2018-05-15 14:16] mendaXXXX commented on #41
I don't think this is a valid issue. You have the condition and consequence functions to put try catches if there is uncertain code being introduced. We should not be introducing it into the rule engine.

[2018-05-15 14:16] #41 closed

[2018-05-15 14:26] mendaXXXX commented on #61
As flgarrid@ pointed, a subsequent fromJSON call revives the rules back.
https://runkit.com/mendaxxxx/5afaedaefd2f1200123b5a45

But its an unexpected behavior from the rule engine to change behavior on `toJSON` call.

[2018-05-15 14:29] mendaXXXX commented on #61
Current logic operates on the attribiutes of the rule engine.

https://github.com/mithunsatheesh/node-rules/blob/master/lib/node-rules.js#L131-L144
[code]

[2018-05-15 17:57] mithunsatheesh commented on #55
@SameerSiddiqui  inside the condition `this` points to the fact object. So you would be able to access any attribute at depth using the reference pointed out.

Please note that this is an issue tracker and not a support forum. We’d appreciate you asking on StackOverflow the next time because the answers here get lost, unlike on SO.

[2018-05-15 17:57] #55 closed

[2018-05-15 18:01] mithunsatheesh commented on #42
Hi @hestef00, would you be able to share a code sample where the later breaks? AFAIK both checks perform right. Please reopen this issue with a code sample or a sample test case which would cover the use case you failed to mention in the issue.

[2018-05-15 18:01] #42 closed

[2018-05-17 13:57] mithunsatheesh commented on #37
Not possible with the current format of rules.

[2018-05-17 13:57] #37 closed

[2018-05-17 14:03] mithunsatheesh opened #66 "Upgrade NPM dependencies to latest version"
dependency versions of packages like underscore and mocha needs to be upgraded to latest published npm versions.

[2018-05-17 14:05] #66 closed

[2018-05-17 18:29] mithunsatheesh opened #67 "minified build for use in browser context"
Configure build logic to vend a js minified version with each release which can be used in browser contexts.

[2018-05-17 18:30] mithunsatheesh commented on #67
Resolved in Version 4.0.0. Currently successful builds produce minified version of the package with dependencies bundled into the dist folder.
See: https://github.com/mithunsatheesh/node-rules/blob/master/dist/node-rules.min.js

[2018-05-17 18:32] mithunsatheesh opened #68 "Add Istanbul for coverage and add coverage badge in the repo"
Integrate with istanbul library to report the coverage of the code vended and report code coverage in the readme file.

[2018-05-17 18:33] #68 closed

[2018-05-17 18:34] mithunsatheesh opened #69 "Travis failure with mocha command - options not found"
The release builds for 4.0.0 are failing travis passes at mocha test step. Need to investigate into this.

[2018-05-17 18:36] #69 closed

[2018-05-17 18:37] mithunsatheesh opened #70 "Add coverage badge on the README.md file"
Post integration of istanbul #68 , add the coverage badge on the Repo read me file.

[2018-05-17 18:38] #70 closed, assigned to nobody

[2018-05-17 18:41] mithunsatheesh opened #71 "Update the utility dependency to lodash from underscore and use only single functions"
Loadash currently vends each utility function as a npm package which would make the dependency management easy. We should move from underscore to lodash and just use the functions which are absolutely necessary.

[2018-05-17 18:41] #71 closed

[2018-05-17 18:43] mithunsatheesh commented on #50
While this is a nice idea, we do not have plans to vend a UI editor as part of this package. This package will continue to provide only the absolute minimum code for the rule engine. Closing as wont fix.

[2018-05-17 18:44] #50 closed

[2018-05-17 18:47] mithunsatheesh commented on #53
Please share the completely functional code sample if you need us to look into this issue. Currently the description does not contain enough information to qualify it as a bug.

[2018-05-17 18:47] #53 closed

[2018-05-17 18:48] mithunsatheesh commented on #62
This usecase is not something that is supported by the library now. Resolving this as wont fix.

[2018-05-17 18:48] #62 closed

[2018-05-18 01:27] muhammadfaizan commented on #63
@mendaXXXX I guess I found a way to make it work, this issue is closed rightly.
Thank You :+1:

[2018-06-14 10:42] brylie opened #73 "Upcoming release?"
There doesn't seem to be a GitHub release since 2015. It might be useful to have a recent release available on the GitHub releases page.

What are the plans for an upcoming release?

[2018-06-27 18:35] sriharsha9 opened #74 "How does it work for Objects with nested elements?"
I have my JSON Object as shown below
[code]
Trying to filter based on a return value of true.
[code]

I am seeing the below error
[code]

Not sure what I am missing here. Does this library support nested objects as facts?

[2018-07-11 04:53] mendaXXXX commented on #73
I think the package is regularly updated on npm with latest changes made. Anyways I have added latest release added in the tab mentioned. Thanks for bringing this up.

[2018-07-11 04:53] #73 closed

[2018-07-11 05:02] m13n commented on #74
This is due to the arrow functions loosing context of `this`.

Please find the below run kit example where this works fine.
https://runkit.com/mendaxxxx/5afaedaefd2f1200123b5a45

[2018-07-11 05:03] #74 closed

[2018-08-05 09:45] mgurnani opened #75 "Typescript support"
Hello,

Thanks for creating a great library !!
I would like to use it with a Typescript project. Do you have any Type definition files which can be used?

[2018-10-29 21:08] uasaigoli opened #77 "Example code is not working my environment"
I have trying to run example listed in https://github.com/mithunsatheesh/node-rules and getting following response, and not sure what may be missing. I am getting response "Valid transaction" instead of "The transaction was blocked as it was less than 500". I did not change any data in the "fact". The fact that first line in the response is empty {}, I feel data is not going into the RuleEngine an

[2018-11-18 20:23] nitinsh99 opened #78 "Question : Is this actively maintained"
Hi, thanks for the great library. I am planning to use this in my project and was wondering if this is actively maintained by you? Are there any plans to improve upon the APIs and add new features (for example I think it would be great to have a executeAll function that can run the the batch jobs against multiple facts and maybe asynchronously). Let me know if you are open to accepting PRs as well

[2018-12-06 03:43] mithunsatheesh commented on #78
Please open an issue describing the api thats absent and the value add. It would be great if you could explain it via a sample code.

To answer this question. This repo is maintained. You can fork this and send out a pull request if willing to contribute too.

[2018-12-06 03:43] #78 closed

[2018-12-06 03:46] mithunsatheesh commented on #77
We do not encourage questions like "why my code doesn't work". Please try to come up with an example via node runkit which explains the issue with the library. Else I would suggest asking this on a crowd debugging platform.

[2018-12-06 03:46] #77 closed

[2019-10-09 07:12] bhariyani opened #80 "Instead executing next rule, R.next() executes every other rules."
const rule = [{ // rule-1 }, { // rule-2  }, { // rule-3 }],
on rule-2 run R.next(), instead of executing only rule-3, execute rule-1 as well

[2019-10-09 08:48] #80 closed

[2019-11-19 22:23] raphaeljolivet opened #81 "This package does not implement RETE algorithm"
This package is tagged with **RETE** on [npm](https://www.npmjs.com/package/node-rules).
However, looking at the code, it does not seems to implement the RETE algorithm.
Please remove this tag : it is misleading.

[2020-01-03 16:37] payadav opened #82 "Rules executing twice when condition has a string search in List"
I am using npm-rules for building an API sequentially executing set of different rules.
One of the rule has conditional evaluation of List containing a string. i.e.
{
		"id": "corule",
		"priority": 3,
		"condition": function(R){
			console.log("Executing : Co Rule Condition");
			R.when(['af','pk','sg','kt'].indexOf(this.wmdco) > -1);
		},
		"consequence": function(R){
                 console.lo

[2020-01-06 04:13] mithunsatheesh commented on #82
Use [runkit](https://npm.runkit.com/node-rules) and create a sample and post it over here. Please reopen the issue once thats done.

[2020-01-06 04:13] #82 closed

[2020-01-06 05:19] payadav commented on #82
var RulesEngine = require("node-rules")

var rulesEngine = new RulesEngine();
var count=5;
var Rules =[
	{
		"id": "corule",
		"priority": 2,
		"condition": function(R){
			R.when(['af','pk','sg'].indexOf(this.co) > -1);
		},
		"consequence": function(R){
            this.se = "HIGH";
			R.next();
		}
    },
    {
        "id": "xyzrule",
		"priority": 1,
		"condition": function(R){
			R.when(coun

[2020-01-06 17:25] elecompte60 commented on #75
+1
I would like to have Typescript definitions for this library also.

[2020-01-17 15:50] payadav opened #83 "Data returned in rulesengine.execute callback function is not visible outside"
Hello,

I am not able to see or set Data returned in the callback function of rulesengine execute function. Idea is to execute Rules for multiple records (loop) and build resultset from the data received in the callback function. I have tried using await, promises but it is not working.

Would you suggest any way out for this ?

Below is the code where i am trying to set Temp var inside RulesEngin

[2020-01-20 04:33] mithunsatheesh commented on #81
Please add more details, references to make your concern clear. Providing reference materials to support the claims made and supporting explanations would help.

[2020-01-20 04:33] #81 closed

[2020-01-20 04:38] mithunsatheesh commented on #83
Please format the code and resubmit with clear explanation of whats wrong from the library. Your questions seems more to understand how await works in JS.

[2020-01-20 04:38] #83 closed

[2020-01-20 18:05] payadav commented on #83
It is more about the visibility of data returned after execution of Rules on Fact object. In your library callback function of Execute is not resolving Data object visibility outside its scope.

You seems to be in HURRY !! of resolving a ticket rather having dialogue for seeking more information.

Thanks !!

[2020-01-21 05:52] mithunsatheesh commented on #83
payadav@ no hurry at all. How about doing the below:

1. Learn how to format code in markdown and indent properly so that the above code you shared is understandable by people.
2. Execute is a callback and resolving the variables to outside its scope is perfectly in the hand of the customer of this package since you implement the code to be put in the callback. Hence the question, is it a question

[2020-03-16 13:28] mithunsatheesh opened #84 "Act on Vulnerability Disclosure from Snyk Security team"
I hope you are well. My name is Bibi Sanjarani and I am contacting you on behalf of Snyk Security team. We track, triage and verify issues and vulnerabilities within open-source dependencies and work with maintainers to make open source secure. More information regarding our tracked vulnerabilities can be found here: https://snyk.io/vuln

I am contacting you in regards to a Command Execution vulne

[2020-03-16 13:31] mithunsatheesh commented on #84
We should get rid of `fromJSON` and `toJSON` APIs in V5.0 release.

https://github.com/mithunsatheesh/node-rules/blob/master/lib/node-rules.js#L131-L161

[2020-03-16 18:42] #84 closed

[2020-03-27 11:32] mithunsatheesh commented on #84
Referenced in: https://snyk.io/vuln/SNYK-JS-NODERULES-560426

[2020-04-08 15:25] jackie-chan commented on #61
When I run this, I'm getting an error that the toJSON() is not a function
`var store = R.toJSON();
console.log(store)

R.fromJSON(store)`
I've pretty much just run the example code that was provided in the examples

[2020-04-08 15:28] mithunsatheesh commented on #61
You would need to use versions less than 5.0.0 to use export and import rule features.
As per the security report in #84, we have removed the support for export import in the latest stable version.

[2020-04-08 15:28] #61 closed

[2020-04-08 15:38] jackie-chan commented on #61
Perfect. Thanks!

[2020-04-08 15:48] jackie-chan opened #87 "Question: dynamically loading rules"
First of all, thanks so much for this rules engine! It's pretty much exactly what I was looking for!
The one question I have is what is the recommended way to dynamically load rules from a separate data store?
I see the examples of loading in facts via an API call to an external system, but is there a good example or a recommended approach to creating rules in an external system and loading them i

[2020-04-21 13:12] Riise commented on #75
+1 for a TypeScript definitions file for this library.

[2020-05-21 12:49] pdykes opened #88 "UI extension for the package?"
While I think the rules engine is great, do you know if anyone has done a companion UI for this package?  I have users that really want a visual toolset.  Perry

[2020-07-19 14:38] sabeelahmad commented on #56
@phzietsman Can you please tell me how can I get the response data using this code for a bunch of facts?

[2020-07-29 12:04] dma82 opened #89 "Question: manipulate arrays of objects"
Hi,

Would it be possible to load examples with complex facts, e.g. object with nested array of objects? How would you manipulate them?

Example:

[code]

Let's say now that I want to create a rule to change the status of all objects in "items" array where parentId = parentObject.id; how can I achieve this?

In Drools (Java) I was able to bind to the object with those conditions to a variable and

[2020-09-08 06:08] sujeet-agrahari opened #90 "Can I add array of rules?"
I want the facts to be validated and modified against array of rules like below.

[code]

[2020-09-08 09:35] mithunsatheesh commented on #90
Support already exists and protected via the below test case:
Refer: https://github.com/mithunsatheesh/node-rules/blob/master/test/index.js#L32-L44

[2020-09-08 09:35] #90 closed

[2020-11-07 18:07] mithunsatheesh opened #91 "Travis Build Failure"
**Describe the bug**
Travis build Fails:
https://api.travis-ci.org/v3/job/742039445/log.txt

**Expected behavior**
Should succeed

[2020-11-07 18:43] #91 closed

[2020-11-07 18:45] mithunsatheesh opened #92 "Upgrade dependencies to non-vulnerable version so as to remove warnings from installation"
**Describe the bug**
Follow:

https://github.com/mithunsatheesh/node-rules/network/alert/package-lock.json/serialize-javascript/open/update-errors/62103848

https://github.com/mithunsatheesh/node-rules/network/alert/package-lock.json/braces/open/update-errors/62103849

[2020-11-07 18:46] #92 closed

[2020-11-08 12:15] mithunsatheesh opened #93 "Get rid of lodash filter and use Array filter instead"
Use Array.prototype.filter and remove dependency on the lodash method.

[2020-11-08 12:17] #93 closed

[2020-11-08 13:04] mithunsatheesh opened #94 "Module build failed (from ./node_modules/babel-loader/lib/index.js)"
Running below script to generate the minified file results in error:

    npm run-script build

[code]

[2020-11-08 13:05] mithunsatheesh commented on #94
Related to https://github.com/babel/babel-loader/issues/616

[2020-11-08 13:07] mithunsatheesh opened #95 "Remove lodash matches dependency for doing partial matches in find Rule"
Get rid of lodash matches utility dependecny by switching to Array some.

[2020-11-08 13:09] mithunsatheesh commented on #94
[code]

[2020-11-08 13:10] #94 closed

[2020-11-08 13:10] #95 closed

[2020-11-29 15:46] mithunsatheesh opened #96 "Make NodeRules usable in browser just like in node environments"
**Describe the bug**
Currently if you import the library in a browser context, the module just wont work and throws an error while running rules on facts.

[code]

**To Reproduce**
Sample Fiddle: https://jsfiddle.net/t7moc4bv/

**Expected behavior**
The examples should work as such for browser context as well.

**To Do**
Fix above mentioned bug and then export the library name in webpack config as

[2020-11-29 15:52] mithunsatheesh opened #97 "Make Node Rules light weight"
**Is your feature request related to a problem? Please describe.**
Currently the module bundle from CDNJS sizes `22KB` on file. We should try to bring down this size.

**Describe the solution you'd like**
Clearly analyse and define the browser support so that we can get rid of unwanted polyfills.

**Version Bump?**
Yes. This should be a new major version since we are revisiting client support.

[2020-11-30 17:51] mithunsatheesh commented on #97
#99 Fixes this.

[2020-11-30 17:51] #97 closed

[2020-11-30 17:51] mithunsatheesh commented on #96
#99 Fixes this.

[2020-11-30 17:51] #96 closed

[2020-12-13 07:11] mithunsatheesh commented on #96
Added an example for web in examples folder with 6.0.1 version please check.

[2020-12-13 11:10] mithunsatheesh commented on #96
JS Fiddle where this works: https://jsfiddle.net/mithunsatheesh/6pwohf3g/

[2021-03-03 02:12] LouisInFlow commented on #75
@mithunsatheesh Would you merge community generated TypeScript type declarations? Or is this something you'd like to work on yourself.

[2021-03-03 04:38] mithunsatheesh commented on #75
@LouisInFlow Would love contributions in this direction. Please feel free to raise a pull request.

[2021-03-12 09:57] davout1806 opened #102 "Question: Asynchronicity and wrapping execute in a Promise"
Admittedly I'm still trying to wrap my head around js asynchronicity model. I thought I was finally getting it but apparently not.

It's seems node-rules is running asynchronously during execute using the callback. In the code there is no await/async or promise but there is a call to process.nextTick(). I thought I could wrap this into a Promise. Is this possible?

Thanks

[code]

[2021-03-12 10:09] mithunsatheesh commented on #102
Can you please create a jsfiiddle/runkit example and post here? From the above sample, I do not see a concern in using Promises or async/await.

[2021-03-12 11:40] davout1806 commented on #102
Apologies. I had an extra await in my call chain which was causing it to loop continuously without getting a response.

Works like a charm.

[https://runkit.com/davout1806/604b4fd61f62450019201864](https://runkit.com/davout1806/604b4fd61f62450019201864)

[2021-03-12 11:40] #102 closed

[2021-03-22 02:17] davout1806 commented on #87
@jackie-chan ,

Curious if you came up with a good solution for this? Thanks.

[2021-07-20 04:45] OmgImAlexis commented on #75
I've refactored this lib to use typescript with that comes types. Some are still set to `any` as I wasn't 100% sure on all of them but this should help the library get in the right direction.

https://github.com/OmgImAlexis/node-rules

To try this until it's merged use `npm i github:omgimalexis/node-rules`.

[2021-07-21 05:02] OmgImAlexis commented on #75
For those following we're just finishing up the changes to the `8.0.0` branch and then it should be good for release. 😄

https://github.com/mithunsatheesh/node-rules/pull/109

[2021-07-21 05:11] OmgImAlexis opened #110 "Delete unneeded merged branches?"
Are any of these still need? Seems they were all merged and possibly forgotten about.

https://github.com/mithunsatheesh/node-rules/tree/mi04-patch-1
https://github.com/mithunsatheesh/node-rules/tree/feature-internal-functions
https://github.com/mithunsatheesh/node-rules/tree/feature-sync
https://github.com/mithunsatheesh/node-rules/tree/hotfix-multiple-consequence-execution
https://github.com/mit

[2021-07-21 05:12] OmgImAlexis commented on #60
@mithunsatheesh could you slap a "feature request" label on this?

[2021-07-21 05:24] OmgImAlexis opened #111 "8.0.0 causes rules to be called twice"
While testing `8.0.0` I noticed at times my `condition` function was being called twice for the rule.
I'm still trying to find what's caused this as I haven't observed this at all while using `7.0.0`.

@mithunsatheesh should a test be added for this or is there one already that I missed?

[2021-07-21 05:39] OmgImAlexis commented on #111
Actually this seems related to `ignoreFactChanges`. Now that it's set to true it's only running them once.

I feel this may need to be a little more documented.

[2021-07-21 05:39] #111 closed

[2021-07-21 08:34] mithunsatheesh commented on #75
Thanks @OmgImAlexis for the fast turn around! Really great job on this.

[2021-07-22 16:27] Johnny-AM opened #113 "Error running basic example - Cannot find module 'lodash.isequal'"
I'll walk you through what I tried =>
1- Created an empty folder.
2- Opened the directory in the terminal and ran npm install node-rules
3- Created a new js file called noderules.js
4- Ran node noderules.js on the terminal and got the following error:
![Screenshot (187)_LI](https://user-images.githubusercontent.com/67067569/126674138-e08e3418-8f7b-488d-81da-a9d29093d8af.jpg)

Additional info:
I ha

[2021-07-22 17:01] mithunsatheesh commented on #113
can you mention the package version of node rules checked out?

[2021-07-22 17:03] Johnny-AM commented on #113
This is my node_modules file:
{
  "dependencies": {
    "lodash": "^4.17.21",
    "node-rules": "^7.0.0"
  }
}

[2021-07-22 17:21] mithunsatheesh commented on #113
please share content of noderules.js to debug further.

[2021-07-22 17:27] mithunsatheesh commented on #113
thanks able to repro it.

[2021-07-22 17:30] mithunsatheesh commented on #113
Seems to be broken from 7.0.0 when lodash dependencies were moved as dev dependencies. Please use versions on 6 until we release a fix for this.

[2021-07-22 17:35] Johnny-AM commented on #113
Using version 6.3 worked. 👍

[2021-07-22 17:43] mithunsatheesh commented on #113
Thanks @Johnny-AM . Please consider checking out the latest release node-rules@7.1.0 which should also work.

[2021-07-22 17:43] #113 closed

[2021-09-22 04:32] christiansaiki opened #114 "Support for Node > 10"
Hi quick question, I was wondering if it's possible to change the engine from Node 10 to support Node >= 10?

I'm currently using Node 12 and I'm not being able to install `node-rules`

[code]

[2021-11-02 15:28] mithunsatheesh commented on #114
This should be resolved with the linked merge request. Please check.

[2022-01-12 17:28] ErikBavenstrand commented on #75
How is the typescript support and 8.0.0 release coming along?

[2022-01-19 19:26] nsingh2510 commented on #75
Are we expecting it to be release this month? @mithunsatheesh  @OmgImAlexis

[2022-01-19 22:25] OmgImAlexis commented on #75
@nsingh2510 yes. :+1:

[2022-01-19 22:28] OmgImAlexis commented on #110
@mithunsatheesh am I good to remove the branches above?

[2022-01-20 04:46] mithunsatheesh commented on #110
@OmgImAlexis we can remove them.

[2022-02-16 13:55] #60 closed

[2022-07-05 09:05] ammerzon commented on #75
Any updates on this?

[2022-08-15 18:33] antarticuno commented on #114
Was this fully resolved btw? I do see the code change to the package.json in the linked merge request, but currently the latest version on npm (7.1.0) seems to still have the old node 10 engine setting. I'm still having a similar issue (using node 14), and am wondering if this could be resolved with a release/republish to npm?

[2022-08-17 03:42] mithunsatheesh commented on #114
Hey @antarticuno . I just checked the referenced commit and the changes are in the published 7.1.0 version.
https://github.com/mithunsatheesh/node-rules/blob/master/package.json#L59

Can you please check the package.json file in the installed package in your package for node engine entries?

[2022-08-17 03:48] antarticuno commented on #114
@mithunsatheesh  thanks so much for your response. I looked into the package.json and this is what I see. Can send screenshots too if you'd like

[code]

[2022-08-17 03:50] mithunsatheesh commented on #114
Hey @antarticuno Thanks for confirming this. Let me publish a new version from the mainline branch which seems to have this fixed. Will confirm here once done.

[2022-08-19 06:25] mithunsatheesh commented on #114
@antarticuno published 7.2.0.
Created a project and installed node-rules as dependency. I can see `>=0.10.3` in engines. Let me know.

[2022-08-19 06:25] #114 closed

[2022-08-19 16:07] antarticuno commented on #114
Yup! Verified this as well on my end that the node-rules package.json has the correct `engines` value. Thank you so much for your assistance

[2022-10-24 22:11] younes-io commented on #75
I would like to use this library, but I don't know about TS support...
Any updates on this please?

[2022-11-28 10:38] ilveann commented on #75
Hi @mithunsatheesh
Can we help somehow to publish the 8.0.0 version to the NPM registry?

[2022-11-28 14:08] mithunsatheesh commented on #75
Really caught up with work. Will provide an update by 12/4.